.monokai {
  background-color: #272822;

  .highlight{
    border-left: 1px solid #444;
  }

  .line.hll {
    background: #558;
  }

  .line-numbers a {
    color: #666;
  }

  pre {
    background-color: #272822;
    color: #f8f8f2;
  }

  .hljs {
    display: block;
    background: #272822;
  }

  .hljs-tag,
  .hljs-tag .hljs-title,
  .hljs-keyword,
  .hljs-literal,
  .hljs-strong,
  .hljs-change,
  .hljs-winutils,
  .hljs-flow,
  .lisp .hljs-title,
  .clojure .hljs-built_in,
  .nginx .hljs-title,
  .tex .hljs-special {
    color: #F92672;
  }

  .hljs {
    color: #DDD;
  }

  .hljs .hljs-constant,
  .asciidoc .hljs-code {
    color: #66D9EF;
  }

  .hljs-code,
  .hljs-class .hljs-title,
  .hljs-header {
    color: white;
  }

  .hljs-link_label,
  .hljs-attribute,
  .hljs-symbol,
  .hljs-symbol .hljs-string,
  .hljs-value,
  .hljs-regexp {
    color: #BF79DB;
  }

  .hljs-link_url,
  .hljs-tag .hljs-value,
  .hljs-string,
  .hljs-bullet,
  .hljs-subst,
  .hljs-title,
  .hljs-emphasis,
  .haskell .hljs-type,
  .hljs-preprocessor,
  .hljs-pragma,
  .ruby .hljs-class .hljs-parent,
  .hljs-built_in,
  .sql .hljs-aggregate,
  .django .hljs-template_tag,
  .django .hljs-variable,
  .smalltalk .hljs-class,
  .hljs-javadoc,
  .django .hljs-filter .hljs-argument,
  .smalltalk .hljs-localvars,
  .smalltalk .hljs-array,
  .hljs-attr_selector,
  .hljs-pseudo,
  .hljs-addition,
  .hljs-stream,
  .hljs-envvar,
  .apache .hljs-tag,
  .apache .hljs-cbracket,
  .tex .hljs-command,
  .hljs-prompt {
    color: #A6E22E;
  }

  .hljs-comment,
  .java .hljs-annotation,
  .smartquote,
  .hljs-blockquote,
  .hljs-horizontal_rule,
  .python .hljs-decorator,
  .hljs-template_comment,
  .hljs-pi,
  .hljs-doctype,
  .hljs-deletion,
  .hljs-shebang,
  .apache .hljs-sqbracket,
  .tex .hljs-formula {
    color: #75715E;
  }

  .hljs-keyword,
  .hljs-literal,
  .css .hljs-id,
  .hljs-phpdoc,
  .hljs-title,
  .hljs-header,
  .haskell .hljs-type,
  .vbscript .hljs-built_in,
  .sql .hljs-aggregate,
  .rsl .hljs-built_in,
  .smalltalk .hljs-class,
  .diff .hljs-header,
  .hljs-chunk,
  .hljs-winutils,
  .bash .hljs-variable,
  .apache .hljs-tag,
  .tex .hljs-special,
  .hljs-request,
  .hljs-status {
    font-weight: bold;
  }

  .coffeescript .javascript,
  .javascript .xml,
  .tex .hljs-formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .hljs-cdata {
    opacity: 0.5;
  }
}
